.footer {
    background: #fd72ab;
    color: #151515;
    padding: 32px 0 56px 0;

    &__main {
        width: 70vw;
        display: flex;
        justify-content: left;
        gap: 96px;
        margin: 0 auto;
        border-top: 1px solid #151515;
        text-align: left;

        &-part {
            min-width: 200px;

            &-logo {
                width: 64px;
                position: relative;
                left: -16px;
            }

            p {
                line-height: 12px;
                margin: 8px 0;
                -moz-user-select: none;
                -khtml-user-select: none;
                user-select: none;
                cursor: pointer;
            }

            &-socials {
                width: 130px;
                display: flex;
                justify-content: space-between;
            }

            &-copyright {
                font-size: 10px;
            }
        }
    }
}

@media all and (max-width: 1300px) {
    .footer__main {
        width: 95vw;
        min-width: auto;
        justify-content: space-between;
        gap: 0;
    }
}

@media all and (max-width: 768px) {
    .footer__main {
        flex-direction: column;
        width: 80vw;
    }
}